/* 初始化 */
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 字体大小 */
/* 字体渐变 */
.container .lab {
    position: relative;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    font-weight: bold;
    /* -webkit-background-clip: text; */

    /* -webkit-text-fill-color: transparent; */
}

.container .lab:hover {
    animation: bling .5s linear infinite;

}

.container .lab a {
    position: relative;
    -webkit-text-stroke: 1px rgb(220, 215, 215);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 4em;
    color: transparent;
}

.container .lab a::before {
    content: attr(data-text);
    position: absolute;
    color: rgb(215, 22, 228);
    width: 0;
    height: 1.5em;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid rgb(215, 22, 228);

}

.container .lab a:hover::before {
    width: 100%;
    -webkit-text-stroke: 1px rgb(232, 133, 227);
    filter: drop-shadow(0 0 40px rgb(215, 22, 228));
}

/* 设置各个标签渐变色 */
/* .container .lab {
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
} */


/* 设置hover过渡效果 */
/* .container .lab a {
    transition: all .5s linear;
} */

/* .container .lab a:hover {
    font-size: 40px;
    transition: all .5s linear;
} */

.go {
    text-align: center;
}

.go a {
    text-decoration: none;
    color: rgb(192, 34, 145);
    font-size: 20px;
}

div {
    /* 所有div默认开启3D属性 */
    transform-style: preserve-3d;
}

.content {
    filter: brightness(125%);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    display: flex;
    /* 设置弹性布局方向 */
    flex-direction: column;
    /* 垂直居中 */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    font-family: Helvetica;
    background-image: -webkit-linear-gradient(120deg, #0d0e0d, #0cadc2, #060800);
    /* 溢出隐藏 */
    overflow: hidden;
    /* 设置视距 */
    perspective: 1300px;
}

:root {
    /* 自定义属性，这几个属性等会是通过js随机生成，通过var函数可对其调用 */
    /* 上外边距 */
    --margin-top: 0;
    /* 左外边距 */
    --margin-left: 0;
    /* 动画时长 */
    --animation-duration: 0s;
    /* 动画延迟时间 */
    --animation-delay: 0s;
}

div {
    /* 所有div默认开启3D属性 */
    transform-style: preserve-3d;
}

.word-box,
.word-box .word {
    position: absolute;
    /* 执行动画：动画名 时长 线性的 无限次播放 */
    animation: rotY 0s linear infinite;
    /* 设置动画时长 */
    animation-duration: var(--animation-duration);
    /* 设置动画延迟 */
    animation-delay: var(--animation-delay);
}

.word-box {
    margin-top: var(--margin-top);
}

.word-box .word {
    margin-left: var(--margin-left);
}

.word-box .word {
    /* 反向动画 */
    animation-direction: reverse;
}

.word {
    filter: blur(1px);
    user-select: none;
    font-size: 12px;
    text-shadow: 1px 1px 1px white;
}

/* 定义动画 */
@keyframes rotY {
    to {
        /* 1turn表示一圈 */
        transform: rotateY(1turn);
    }
}

/* hover时的动画 */
/* @keyframes bling {
    form {
        background-image: -webkit-linear-gradient(45deg, #f35626, #feab3a, rgb(0, 132, 255));
    }

    to {
        background-image: -webkit-linear-gradient(45deg, #2667f3, #5cc494, rgb(255, 0, 234));
    }
} */