/* 初始化 */
*{
    margin: 0;
    padding: 0;
}
.container{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 字体大小 */
/* 字体渐变 */
.container .lab{
    position: relative;
    font-size: 30px;
    font-weight: bold;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    -webkit-animation: hue 5s infinite linear;
}
/* 设置各个标签渐变色 */
.container .lab:nth-child(1){
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    animation: hue 4s infinite linear;
    
}
.container .lab:nth-child(2){
    background-image: -webkit-linear-gradient(92deg, #26f382, #d73afe);
    animation: hue 5s infinite linear;
    animation-delay: 0.1s;

}
.container .lab:nth-child(3){
    background-image: -webkit-linear-gradient(92deg, #da3c0c, #cafe3a);
    animation-delay: 0.2s;
}
.container .lab:nth-child(4){
    background-image: -webkit-linear-gradient(92deg, #c48a78, #bee25c);
    animation-delay: 0.3s;
}
.container .lab:nth-child(5){
    background-image: -webkit-linear-gradient(92deg, #6de7e1, #cee985);
    animation-delay: 0.4s;
}
.container .lab:nth-child(6){
    background-image: -webkit-linear-gradient(92deg, #628145, #d8e65f);
    animation-delay: 0.5s;
}
.container .lab:nth-child(7){
    background-image: -webkit-linear-gradient(92deg, #995d96, #d7f094);
    animation-delay: 0.6s;
}
.container .lab:nth-child(8){
    background-image: -webkit-linear-gradient(92deg, #e9e76c, #4b91c0);
    animation-delay: 0.7s;
}
/* 设置过渡动画 */
@-webkit-keyframes hue 
    {
      0%{
        -webkit-filter: hue-rotate(0deg);
        left: 0;
        top: 0;
        font-size: 30px;
      }
      10%{
        left: 50px;
          top: 30px;
          font-size: 35px;
      }
      20%{
          left: 100px;
          top: 60px;
          font-size: 40px;
      }
      30%{
          left: 150px;
          top: 30px;
          font-size: 35px;
      }
      40%{
          left: 200px;
          top: 0px;
          font-size: 30px;
      }
      50%{
          left: 150px;
          top: -30px;
          font-size: 25px;
      }
      60%{
          left: 100px;
          top: -60px;
          font-size: 20px;
      }
      70%{
          left: 50px;
          top: -30px;
          font-size: 25px;
      }
      80%{
          left: 0px;
          top: 0px;
          font-size: 30px;
      }
      90%{
          left: 0;
          top: -0;
          font-size: 30px;
      }
    100%{
        -webkit-filter: hue-rotate(-360deg);
        left: 0;
        top: 0;
    }
    
  }
 