body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* ul为弹性布局 */
ul.stacks {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* 默认值。灵活的项目将水平显示 */
  flex-direction: row;
  /* vh为相对视口高度 */
  height: 100vh;
  z-index: 99999;
}

ul.stacks li {
  background-color: #ccc;
  /* 让所有弹性盒模型对象的子元素都有相同的长度，且忽略它们内部的内容 */
  flex: 1;
  overflow: hidden;
  position: relative;
}

ul.stacks li::after {
  content: '';
  display: block;
  /* 视口宽度 */
  width: 100vw;
  height: 100vh;
  background-image: url(../img/bg.jpeg);
  /* 规定背景图像尺寸。	把背景图像扩展至足够大，以使背景图像完全覆盖背景区域。
背景图像的某些部分也许无法显示在背景定位区域中。 */
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

ul.stacks li {
  transition: 1s transform ease-in-out;
}

ul.stacks li:nth-child(1) {
  transition-delay: calc(1 * .06s);
}

ul.stacks li:nth-child(1)::after {
  left: calc(0 * -10vw);
}

ul.stacks li:nth-child(2) {
  transition-delay: calc(2 * .06s);
}

ul.stacks li:nth-child(2)::after {
  left: calc(1 * -10vw);
}

ul.stacks li:nth-child(3) {
  transition-delay: calc(3 * .06s);
}

ul.stacks li:nth-child(3)::after {
  left: calc(2 * -10vw);
}

ul.stacks li:nth-child(4) {
  transition-delay: calc(4 * .06s);
}

ul.stacks li:nth-child(4)::after {
  left: calc(3 * -10vw);
}

ul.stacks li:nth-child(5) {
  transition-delay: calc(5 * .06s);
}

ul.stacks li:nth-child(5)::after {
  left: calc(4 * -10vw);
}

ul.stacks li:nth-child(6) {
  transition-delay: calc(6 * .06s);
}

ul.stacks li:nth-child(6)::after {
  left: calc(5 * -10vw);
}

ul.stacks li:nth-child(7) {
  transition-delay: calc(7 * .06s);
}

ul.stacks li:nth-child(7)::after {
  left: calc(6 * -10vw);
}

ul.stacks li:nth-child(8) {
  transition-delay: calc(8 * .06s);
}

ul.stacks li:nth-child(8)::after {
  left: calc(7 * -10vw);
}

ul.stacks li:nth-child(9) {
  transition-delay: calc(9 * .06s);
}

ul.stacks li:nth-child(9)::after {
  left: calc(8 * -10vw);
}

ul.stacks li:nth-child(10) {
  transition-delay: calc(10 * .06s);
}

ul.stacks li:nth-child(10)::after {
  left: calc(9 * -10vw);
}

body:hover .stacks>li {
  transform: translatey(-100vh);
}

/* 主页内容 */
.web {
  position: absolute;
  left: 0;
  top: 0;
  width: 99vw;
  height: 100vh;
  z-index: 99999;
  opacity: 0;
}

.web:hover {
  opacity: 1;
  transition: all 4s ease-in-out;
}

.web .head {
  width: 100%;
  height: 100px;
  background-color: pink;
  font-size: 80px;
  text-align: center;
}

.web .head b {
  transition: text-shadow 1s, font-size 1s, transform 1s;
}

.web .head b:hover {
  text-shadow: 10px -10px 10px #999;
  font-size: 86px;

}

.web .nav {
  height: 70px;

}

.web .nav ul {
  margin: 0;
  padding: 0;
}

.web .nav ul::after {
  content: '';
  display: block;
  clear: both;
}

.web .nav ul>li {
  list-style: none;
  float: left;
  width: 150px;
  height: 70px;
  line-height: 70px;
  background-color: antiquewhite;
  border: 1px solid #999;
  text-align: center;
  font-size: 24px;
  text-shadow: 1px 1px #999;
  border-radius: 5%;
  color: rgb(37, 55, 218);

}

.web .nav ul>li:hover {
  background-color: aqua;

}

.web .nav ul>li a:hover {
  color: rgb(248, 250, 252);
}

.web .nav ul>li:last-child {
  float: right;
  width: 70px;
  font-size: 50px;
}

.web .main {
  margin-top: 2px;
}

.web .main ul {
  background-color: skyblue;
  margin: 0;
  padding: 0;
}

.web .main ul>li {
  list-style: none;
  display: flex;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background-color: rgb(228, 36, 36);
  border: 1px solid #999;
  text-align: center;
  font-size: 18px;
  color: antiquewhite;
  border-radius: 50%;
  margin-right: 30px;
  text-shadow: 1px 1px #999;
  transition: width 1s, height 1s, background-color 1s, line-height 1s, font-size 1s, color 1s, transform 1s;
}

.web .main ul>li:hover {
  width: 80px;
  height: 80px;
  background-color: darkkhaki;
  line-height: 80px;
  font-size: 25px;
  color: coral;
}

.music {
  height: 500px;
  background-color: #999;
}

.footer {
  height: 300px;
  background-color: blueviolet;
}

.mouseS {
  position: absolute;
  background-color: aqua;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 30% 90% 90% 90%;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fre);
  grid-gap: 30px;
}

.span-col-4 {
  grid-column: span 4 / auto;
  width: 100%;
  height: 100px;
  background-color: pink;
  font-size: 30px;

}
.grid div{
  background-color: aqua;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
  border-radius: 2%;
}
.grid div a{
  color: rgb(211, 60, 98);
  font-size: 20px;
}
.grid div:hover{
  background-color: rgb(9, 221, 221);
  box-shadow: 4px 4px 4px #999;
}
.grid div:hover a{
  font-size: 30px;
  color: rgb(72, 95, 228);
  font-weight: bold;
  transition:color 2s,font-size 1s,transform 1s;
}
.span-col-2 {
  grid-column: span 2 / auto;
}
