body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* ul为弹性布局 */
ul.stacks {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* 默认值。灵活的项目将水平显示 */
  flex-direction: row;
  /* vh为相对视口高度 */
  height: 100vh;
  z-index: -1;
}

ul.stacks li {
  background-color: #ccc;
  /* 让所有弹性盒模型对象的子元素都有相同的长度，且忽略它们内部的内容 */
  flex: 1;
  overflow: hidden;
  position: relative;
}

ul.stacks li::after {
  content: '';
  display: block;
  /* 视口宽度 */
  width: 100vw;
  height: 100vh;
  background-image: url(../images/2250245fc6f061ca9c213e12548bc24a.jpeg);
  /* 规定背景图像尺寸。	把背景图像扩展至足够大，以使背景图像完全覆盖背景区域。
背景图像的某些部分也许无法显示在背景定位区域中。 */
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

ul.stacks li {
  transition: 1s transform ease-in-out;
}

ul.stacks li:nth-child(1) {
  transition-delay: calc(1 * .06s);
}

ul.stacks li:nth-child(1)::after {
  left: calc(0 * -10vw);
}

ul.stacks li:nth-child(2) {
  transition-delay: calc(2 * .06s);
}

ul.stacks li:nth-child(2)::after {
  left: calc(1 * -10vw);
}

ul.stacks li:nth-child(3) {
  transition-delay: calc(3 * .06s);
}

ul.stacks li:nth-child(3)::after {
  left: calc(2 * -10vw);
}

ul.stacks li:nth-child(4) {
  transition-delay: calc(4 * .06s);
}

ul.stacks li:nth-child(4)::after {
  left: calc(3 * -10vw);
}

ul.stacks li:nth-child(5) {
  transition-delay: calc(5 * .06s);
}

ul.stacks li:nth-child(5)::after {
  left: calc(4 * -10vw);
}

ul.stacks li:nth-child(6) {
  transition-delay: calc(6 * .06s);
}

ul.stacks li:nth-child(6)::after {
  left: calc(5 * -10vw);
}

ul.stacks li:nth-child(7) {
  transition-delay: calc(7 * .06s);
}

ul.stacks li:nth-child(7)::after {
  left: calc(6 * -10vw);
}

ul.stacks li:nth-child(8) {
  transition-delay: calc(8 * .06s);
}

ul.stacks li:nth-child(8)::after {
  left: calc(7 * -10vw);
}

ul.stacks li:nth-child(9) {
  transition-delay: calc(9 * .06s);
}

ul.stacks li:nth-child(9)::after {
  left: calc(8 * -10vw);
}

ul.stacks li:nth-child(10) {
  transition-delay: calc(10 * .06s);
}

ul.stacks li:nth-child(10)::after {
  left: calc(9 * -10vw);
}

body:hover .stacks>li {
  transform: translatey(-100vh);
}

/* 主页内容 */
.web {
  position: absolute;
  left: 0;
  top: 0;
  width: 99vw;
  height: 100vh;
  z-index: 1;
  opacity: 0;
}

.web:hover {
  opacity: 1;
  transition: all 2s ease-in-out;
}